name: Android Uygulamasi Yap

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        # actions/checkout@v4.1.1 (Saglam Surum)
        uses: actions/checkout@b4ffde65f4633668828c08008afc50ecf648550e
      
      - name: Python Kurulumu
        # actions/setup-python@v4.8.0 (En kararli surum)
        uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f
        with:
          python-version: '3.11'
          
      - name: Flet ve Gereksinimleri Yukle
        run: |
          pip install flet
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Flutter (Android Motoru) Kurulumu
        # subosito/flutter-action@v2.13.0 (Hatasiz surum)
        uses: subosito/flutter-action@48cafc24713cca54bb03193a2634c47c846e7204
        with:
          flutter-version: '3.19.x'
          channel: 'stable'
          
      - name: APK Derleme Islemi
        run: |
          flet build apk --verbose
          
      - name: APK Dosyasini Paketle ve Sun
        # actions/upload-artifact@v4.3.1 (Guvenli surum)
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
        with:
          name: Mi17-Emergency-App
          path: build/**/*.apk
