name: Android Uygulamasi Yap

on:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        # actions/checkout@v4.2.2
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      
      - name: Python Kurulumu
        # actions/setup-python@v5.1.0
        uses: actions/setup-python@0b93645e9fea784233e20a025f388836d936ef1a
        with:
          python-version: '3.11'
          
      - name: Flet ve Gereksinimleri Yukle
        run: |
          pip install flet
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Flutter (Android Motoru) Kurulumu
        # subosito/flutter-action@v2.16.0
        uses: subosito/flutter-action@44ac965b96f18d999802d4280ad59b9e6a4e43fa
        with:
          flutter-version: '3.19.x'
          channel: 'stable'
          
      - name: APK Derleme Islemi
        run: |
          flet build apk --verbose
          
      - name: APK Dosyasini Paketle ve Sun
        # actions/upload-artifact@v4.3.3
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808
        with:
          name: Mi17-Emergency-App
          path: build/**/*.apk
