name: Android Uygulamasi Yap

on:
  workflow_dispatch: # Bu satır butonu elle çalıştırmanı sağlar

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Kodlari Cek
        uses: actions/checkout@v4
      
      - name: Python Kurulumu
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - name: Flet ve Gereksinimleri Yukle
        run: |
          pip install flet
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
      - name: Flutter (Android Motoru) Kurulumu
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.x'
          channel: 'stable'
          
      - name: APK Derleme Islemi
        run: |
          flet build apk --verbose
          
      - name: APK Dosyasini Paketle ve Sun
        uses: actions/upload-artifact@v4
        with:
          name: Mi17-Emergency-App
          path: build/**/*.apk
